.lesson-chip {
  display: flex;
  justify-content: space-evenly;
  height: 50px !important;
}
.lesson-chip > div {
  float: left;
}
.lesson-chip .logo {
  width: 50%;
  min-width: 140px;
}
.lesson-chip .logo p {
  margin: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
}
.lesson-chip .meta {
  position: relative;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lesson-chip .meta .meta-abs {
  position: absolute;
  display: table;
  padding: 4px 0;
  width: 100%;
  height: 45px !important;
}
.lesson-chip .meta .meta-abs p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
