@height: 50px;

.menu-chip {
  a {
    display: block;

    margin: 8px 10px;

    width: calc(~'100% - 20px');
    height: @height - 20px;

    line-height: @height - 20px;
    text-align: center;

    border-radius: 5px;
    color: #fff;

    border: #ffffff solid thin;
    cursor: pointer;
    font-weight: 400;

    transition: transform 200ms;

    &.pressed {
      transform: scale(0.95);

      background-color: #ffffff;
      color: #1DA1F2;
    }
  }
}