@bgcolor_default:     #ffffff;
@bgcolor_highlighted: #fff6af;
@bgcolor_passed:      #a6ff82;

@font_size: 14px;

.exercise-bar {
    position: absolute;
    z-index: 1;
    display: none;

    overflow: hidden;

    border-radius: 5px;
    color: black;
    background-color: white;

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
