@import '../../colors';
@import '../../animations';

.cask {
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: .375em;
  background-color: white;

  font-weight: 600;

  user-select: none;

  text-align: center;

  &_active {
    cursor: pointer;

    transition: background-color .2s @fade,
                transform .2s @scale;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }
}