@import '../../colors';
@import '../../animations';

.cask {
  position: relative;
  overflow: hidden;

  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: .375em;
  background-color: white;

  font-weight: 600;

  user-select: none;

  text-align: center;

  &_active {
    cursor: pointer;

    transition: background-color .2s @fade,
                transform .2s @scale;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }

  &__content {
    position: absolute;
    width: 100%;
  }

  &__progress {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;

    background-color: @default;

    transition: bottom .5s;
  }

  &_cl_primary    &__progress {background-color: @primary;}
  &_cl_secondary  &__progress {background-color: @secondary;}
  &_cl_success    &__progress {background-color: @success;}
  &_cl_dark       &__progress {background-color: @dark;}
  &_cl_warning    &__progress {background-color: @warning;}
  &_cl_danger     &__progress {background-color: @danger;}
  &_cl_light      &__progress {background-color: @light;}
  &_cl_default    &__progress {background-color: @default;}
}

@wave_width:  70%;
@wave_height: 60%;

@wave_right_right: -25%;
@wave_left_left:   -25%;
@wave_inv_left:     15%;

@wave_bottom:     44%;
@wave_inv_bottom: 95%;

@wave_bottom_down:     @wave_bottom     - 50%;
@wave_inv_bottom_down: @wave_inv_bottom - 50%;

@wave_anim_dur: 3s;



@wave_alt_right_right:  @wave_right_right - 25%;
@wave_alt_left_left:    @wave_left_left   + 25%;
@wave_alt_inv_left:     @wave_inv_left + 25%;

@wave_alt_bottom:         @wave_bottom + 4;
@wave_alt_inv_bottom:     @wave_inv_bottom + 4;

@wave_alt_bottom_down:     @wave_alt_bottom - 50%;
@wave_alt_inv_bottom_down: @wave_inv_bottom - 50%;

@wave_alt_anim_del: 1s;

@wave_transition: bottom .5s ease-in-out, opacity .5s ease-out;

.wavefront {
  &::before {
    content: '';
    position: absolute;
    width: @wave_width;
    height: @wave_height;

    bottom: @wave_inv_bottom;
    left: @wave_inv_left;

    background-color: #ffffff;
    border-radius: 50%;

    transition: @wave_transition;
    animation: wave @wave_anim_dur infinite linear;
    animation-direction: reverse;
  }

  &_disabled&::before {
    opacity: 0;
  }

  &__wave {
    position: absolute;
    width: @wave_width;
    height: @wave_height;

    background-color: @default;
    border-radius: 50%;

    transition: @wave_transition;
    animation: wave @wave_anim_dur infinite linear;

    &_right {
      right: @wave_right_right;
      bottom: @wave_bottom;
    }

    &_left {
      left: @wave_left_left;
      bottom: @wave_bottom;
    }
  }

  &_disabled &__wave {
    bottom: @wave_bottom_down;
  }

  &_alt {
    opacity: .3;

    &::before {
      left: @wave_alt_inv_left;
      bottom: @wave_alt_inv_bottom;
      animation-delay: @wave_alt_anim_del;
      animation-direction: normal;
    }
  }

  &_alt&_disabled&::before {
    opacity: 0;
  }

  &_alt &__wave {
    &_right {
      right: @wave_alt_right_right;
      bottom: @wave_alt_bottom;
      animation-delay: @wave_alt_anim_del;
      animation-direction: reverse;
    }

    &_left  {
      left: @wave_alt_left_left;
      bottom: @wave_alt_bottom;
      animation-delay: @wave_alt_anim_del;
      animation-direction: reverse;
    }
  }

  &_alt&_disabled &__wave {
    bottom: @wave_alt_bottom_down;
  }

  &_cl_primary    &__wave {background-color: @primary;}
  &_cl_secondary  &__wave {background-color: @secondary;}
  &_cl_success    &__wave {background-color: @success;}
  &_cl_dark       &__wave {background-color: @dark;}
  &_cl_warning    &__wave {background-color: @warning;}
  &_cl_danger     &__wave {background-color: @danger;}
  &_cl_light      &__wave {background-color: @light;}
  &_cl_default    &__wave {background-color: @default;}
}


@keyframes wave {
  from { transform: rotate(0deg);}
  from { transform: rotate(360deg);}
}
