/**
  A block that represents a button which can be filled with the progress bar.

  Progress bar is represented by __progress element and can be extended with the 'wavefront' block
  to simulate the liquid effect in the top of the bar filler.
 */

@import '../../colors';
@import '../../animations';

.cask {
  position: relative;
  overflow: hidden;

  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: .375em;
  background-color: @text_light;
  color: @text_dark;

  box-shadow: @shadow;

  font-weight: 700;

  user-select: none;

  text-align: center;

  &_selected {
    background-color: @warning_surf;
  }

  &_active {
    cursor: pointer;

    transition: background-color .2s @fade,
                transform .2s @scale;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }

  &__content {
    position: absolute;
    width: 100%;

    // Content of the cask that disappears on hover
    &_disposable {opacity: 1};
    // Content of the cask that appears on hover
    &_undisposable {opacity: 0; pointer-events: none};
  }

  &:hover &__content {
    &_disposable {
      opacity: 0;
    }

    &_undisposable {
      opacity: 1;
      animation: 1s scale-easeInElastic 0s reverse;
    }
  }

  // Progress bar inside of the cask.
  // There can be multiple of them in a single cask.
  &__progress {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;

    background-color: @success;

    transition: bottom .5s;

    &_light      {background-color: @success_surf;}
  }

  &_light      {background-color: @light;}
  &_default      {background-color: @default;}
}

@keyframes scale-easeInElastic {
	0% {transform: scale(1);}
	4% {transform: scale(1);}
	8% {transform: scale(1);}
	14% {transform: scale(1);}
	18% {transform: scale(1);}
	26% {transform: scale(1.01);}
	28% {transform: scale(1.01);}
	40% {transform: scale(0.98);}
	42% {transform: scale(0.98);}
	56% {transform: scale(1.05);}
	58% {transform: scale(1.04);}
	72% {transform: scale(0.87);}
	86% {transform: scale(1.27);}
	100% {transform: scale(0);}
}

