/* https://flatuicolors.com/palette/defo */

@success: #69a742;
@success_deep: #498430;

@primary: #74b9ff;
@primary_deep: #0984e3;

@secondary: #a29bfe;
@secondary_deep: #6c5ce7;

@dark: #34495e;
@dark_deep: #2c3e50;

@warning: #ffbe76;
@warning_deep: #f0932b;

@danger: #e74c3c;
@danger_deep: #c0392b;

@light: #dfe6e9;
@light_deep: #b2bec3;

@default: #95a5a6;
@default_deep: #7f8c8d;

@text_light: white;
@text_dark: black;