.introjs-tooltip {
    min-width: 380px;
}

.introjs-tooltip-success {
    background-color: #e1f5dc;
}

.introjs-tooltip-error {
    background-color: #f5dcdc !important;
}

.introjs-tooltip-error .introjs-skipbutton {
    color: black;
    background-color: #ffffff;
}

.introjs-prevbutton {
    float: left;
}

.introjs-skipbutton {
    float: right;
    color: #ffffff;
    background: #61c419;
    text-shadow: none;
    margin-right: 0;
}

.introjs-skipbutton:focus, .introjs-skipbutton:active {
    background: #61c419;
}

.introjs-tooltiptext h1 {
    font-size: 20px;
    border-bottom: solid 1px #d0cfcf;
    padding-bottom: 8px;
}

.introjs-tooltiptext p {
    font-size: 14px;
}
