.launch-pane {
    position: absolute;
    bottom: 36px;
    right: 36px;
}

.launch-btn {
    position: relative;
    display: inline;

    z-index: 1;

    margin: 0 4px;
    padding: 6px 10px;

    border-style: none;
    border-radius: 3px;

    font-family: inherit;

    background-color: #1DA1F2;
    color: #fff;

    font-size: 17px;
    font-weight: 100;

    cursor: pointer;
}