body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app, .root {
  width: 100%;
  height: 100%;
}

.root {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.pane {
  display: flex;
  justify-content: space-between;
  // WARNING: It's vital to NOT use border-box sizing here!
  //box-sizing: border-box;
  flex-grow: 1;

  &.pane-h {
    flex-direction: column;
  }

  &.pane-v {
    flex-direction: row;
  }
}

.handler {
  padding: 0;
  flex: 0 0 auto;

  &::before {
    content: '';
    display: block;
    background: red;
  }

  &.handler-h {
    height: 20px;
    cursor: ew-resize;
    margin: auto 0;

    &::before {
      width: 4px;
      height: 100%;
    }
  }

  &.handler-v {
    width: 20px;
    cursor: ns-resize;
    margin: 0 auto;

    &::before {
      width: 100%;
      height: 4px;
    }
  }
}

// Theme
.pane {
  border: 1px solid black;
}