.variables-pane {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.variables-pane .variable {
    height: 100%;
    max-height: 50%;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 5px 5px 0 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.variables-pane .variable .variable-value {
    height: 100%;
    width: 100px;
    border-radius: 5px;
    margin-left: 10px;
}

.variables-pane .variable .variable-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.variables-pane .variable .variable-name span {
    font-size: 24px;
}

.variables-pane .variable:first-of-type {
    margin-top: 5px;
}

.variables-pane .variable:last-of-type {
    margin-bottom: 5px;
}

.variables-pane .variable.var-colour {
    background-color: #ff7b00;
}

.variables-pane .variable.var-colour .value {
    background-color: #000000;
}

.variables-pane .variable.var-index {
    background-color: #5e06ff;

    display: flex;
    align-items: center;
}

.variables-pane .variable.var-index .variable-value {
    background-color: #bf9bff;
}

.variables-pane .variable.var-brightness {
    background-color: #00978d;

    display: flex;
    align-items: center;
}

.variables-pane .variable.var-brightness .variable-value {
    background-color: #99d5d1;
}

.variables-pane svg {
    width: 100%;
    height: 100%;
}

.variables-pane svg text {
    text-anchor: middle;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.variables-pane .variable.pulse {
    animation: variable-pulse 100ms 3 ease-in-out;
}

@keyframes variable-pulse {
    0%   { filter: brightness(100%); }
    50%   { filter: brightness(150%); }
    100% { filter: brightness(100%); }
}