.mission-bar__item_leading {
  min-width: 50% !important;
  font-weight: bolder !important;
  font-size: 18px !important;
  background-color: #77ff6f !important;
}
.mission-bar__item {
  display: inline;
  padding: 0 2px 0 2px;
  width: 100%;
  min-width: 0;
  height: 30px;
  line-height: 30px;
  font-weight: normal;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  background-color: #ffffff;
  -webkit-transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1) 0ms;
  -moz-transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1) 0ms;
  -ms-transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1) 0ms;
  -o-transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1) 0ms;
  transition: all 1000ms cubic-bezier(0.77, 0, 0.175, 1) 0ms;
}
.mission-bar {
  display: flex;
  justify-content: space-around;
  float: right;
  max-width: 70%;
  height: 30px;
}
