.exercise-bar {
  position: absolute;
  z-index: 1;
  display: none;
  overflow: hidden;
  border-radius: 5px;
  color: black;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.exercise-bar__item {
  white-space: nowrap;
  background-color: #ffffff;
  padding: 5px 10px;
}
.exercise-bar__item.highlighted {
  background-color: #fff6af;
  font-weight: bolder !important;
  font-size: 18px !important;
}
.exercise-bar__item:hover {
  background-color: #90c3fb;
  cursor: pointer;
}
.exercise-bar__item_passed {
  background-color: #a6ff82;
}
