@import "../exercise-bar";

.exercise-bar__item {
  white-space: nowrap;

  background-color: @bgcolor_default;

  padding: 5px 10px;

  &.highlighted {
    background-color: @bgcolor_highlighted;

    font-weight: bolder !important;
    font-size: @font_size + 4 !important;
  }

  &:hover {
    background-color: #90c3fb;
    cursor: pointer;
  }
}

.exercise-bar__item_passed {
  background-color: @bgcolor_passed;
}