.lesson-pane {
  background-color: #00fcff;
}
.lesson-pane .lesson-pane-north {
  width: 100%;
  height: 50px;
}
.lesson-pane .lesson-pane-north div {
  float: left;
}
.lesson-pane .lesson-pane-north .lesson-pane-north-west {
  width: 10%;
  height: 100%;
  background-color: #00ff00;
}
.lesson-pane .lesson-pane-north .lesson-pane-north-center {
  width: 40%;
  height: 100%;
  background-color: brown;
}
.lesson-pane .lesson-pane-north .lesson-pane-north-east {
  width: 50%;
  height: 100%;
  background-color: #ff0014;
}
.lesson-pane .lesson-pane-south {
  width: 100%;
  height: 50px;
}
.lesson-pane .lesson-pane-south div {
  float: left;
}
.lesson-pane .lesson-pane-south .lesson-pane-south-west {
  width: 30%;
  height: 100%;
  background-color: #fffc00;
}
.lesson-pane .lesson-pane-south .lesson-pane-south-center {
  width: 70%;
  height: 100%;
}
