.bb-plate-right-wrap, .bb-plate-left-wrap {
    margin-top: 20px;
}

.bb-plate-add-input {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    font-size: 20px;

    width: 30%;
    height: 42px;
    border-radius: 5px;
    border-color: #c9c9c9;
    border-style: solid;
    border-width: 1px;
}

.bb-plate-btn-add {
    width: 65%;
    font-size: 22px;
}

.bb-plate-add-selector {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    font-size: 26px;

    width: 100%;
    margin-bottom: 4px !important;
    height: 44px;
    text-align: center;
}

.bb-plate-btn-add, .bb-plate-btn-clear, .bb-plate-btn-fullscreen {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;

    background-color: #ffffff;
    display: block;
    border-radius: 5px;
    border-color: #c9c9c9;
    border-style: solid;
    border-width: 1px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    float: right;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.bb-plate-btn-clear, .bb-plate-btn-fullscreen {
    width: 100%;
    font-size: 22px;
}

.bb-cm {
    cursor: pointer;
}

.bb-cm-item:active {
    fill: #000;
}

.bb-cm-item:hover {
    fill: #72ff6d;
}

.bb-cm-item-text {
    pointer-events: none;
}

.bb-cm-item-disabled {
    cursor: default;
    fill: #96d0ff;
}

.bb-cm-item-disabled:hover {
    fill: #96d0ff;
}

.bb-cm-item-disabled-text {
    cursor: default;
    font-weight: bolder;
}

.bb-plate-shadow-img {
    pointer-events: none;
}

.bb-cm-item-input {
    width: 100%;
    height: 100%;

    font-size: 22px;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.bb-cm-fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration: 100ms;
	-moz-animation-duration:    100ms;
	animation-duration:         100ms;
}

/* Flash class and keyframe animation */
.bb-cm-item-flash {
    fill: #0f0fff;
	-webkit-animation: flash linear 80ms infinite;
	animation: flash linear 80ms infinite;
}

@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}