.bb-sel-root {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.bb-sel-list {
    width: 100%;
}

.bb-sel-cell {
    position: relative;
    overflow: hidden;

    width: 50%;
    float: left;

    border: red solid 1px;
    box-sizing: border-box;
}

.bb-sel-cell:before {
    content: "";
    float: left;
    padding-top: 100%;
}

.bb-sel-slide {
    position: absolute;

    top: 50%;

    max-width: 80%;
    max-height: 80%;

    opacity: 0;
    pointer-events: none;

    transition: opacity 500ms cubic-bezier(0.16, 1, 0.3, 1),
                transform 500ms cubic-bezier(0.16, 1, 0.3, 1);

    transform: translate(-50%, -50%) scale(0.7);

    /* http://help.dimsemenov.com/discussions/problems/858-weird-bug-in-chrome */
    -webkit-backface-visibility: hidden;

    width: 60%;
    height: 50%;
}

.bb-sel-slide.active {
    opacity: 1;
    pointer-events: all;

    transform: translate(-50%, -50%) scale(1.0);
}

.bb-sel-slide.noanim {
    transition: none;
}

.bb-sel-slidectrl {
    position: absolute;
    top: 50%;

    width: 10%;

    font-size: 40px;
    font-weight: bolder;
    color: indianred;
    cursor: pointer;

    transform: translateY(-50%);

    /* http://help.dimsemenov.com/discussions/problems/858-weird-bug-in-chrome */
    -webkit-backface-visibility: hidden;
}

.bb-sel-slidectrl.bb-sel-slidectrl-left {left: 0; text-align: left;}
.bb-sel-slidectrl.bb-sel-slidectrl-right {right: 0; text-align: right;}

.bb-sel-pedestal-wrap {
    position: absolute;
    height: 22%;
    bottom: 0;

    text-align: center;

    width: 100%;
    margin: 0 auto;

    /* http://help.dimsemenov.com/discussions/problems/858-weird-bug-in-chrome */
    -webkit-backface-visibility: hidden;
}

ul.bb-sel-pedestal {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
}

ul.bb-sel-pedestal li {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: #ccc;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
}

ul.bb-sel-pedestal li.active {
    background: #3e999f;
}

.bb-sel-title {
    text-align: center;
    font-size: 60px;
    padding: 10px;
    font-weight: bolder;
}

.bb-sel-subtitle {
    font-size: 40px;
    margin-bottom: 5px;
}

.bb-sel-svg_wrap {
    width: 100%;
    height: 100%;

    cursor: pointer;

    background-image: radial-gradient(#403f3f2e 0%, transparent 70%);
    background-size: 100% 90%;
    background-position: center;
}

svg.bb-sel-svg {
    width: 100%;
    height: 100%;

    transition: transform 1000ms cubic-bezier(0.16, 1, 0.3, 1);
}

.bb-sel-slide.active svg.bb-sel-svg {
    transform: perspective(500px) rotate3d(5, -195, 70, 35deg);
}

.bb-sel-svg_wrap:hover svg.bb-sel-svg {
    transform: perspective(0);
}