@import "__item/pager__item";
@import "__link/pager__link";

@button_size: 50px;
@button_margin: 5px;

@padding: 5px;

.pager {
  display: flex;
  justify-content: space-around;
  //overflow: hidden;
  
  margin: 0;
  padding: @padding;

  //height: @button_size + @button_margin * 2;
}