@import '../../colors';
@import '../../animations';

ul.combolist {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li.combolist__item {

  }
}

.cl-item {
  display: flex;
  flex-direction: row;

  cursor: pointer;

  padding: 0 .125em;

  border-radius: .25em;

  transition: background-color .2s @fade,
                transform .2s @scale;

  &:hover {
    background-color: @primary_deep;
  }

  &_active {
    background-color: @primary;
  }

  .cl-item__prefix {
    font-weight: 600;
    margin: 0 .25em;
  }

  .cl-item__caption {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .cl-item__context {

  }
}

.cl-context {
  .cl-context__action {

  }
}