.fabdesk {
  position: absolute;
  right: 0;
  bottom: 0;
  /* float: right; */
  display: block;
  margin: 10px;
  z-index: 100;

  /* Floating Action Button */
  &__fab {
    float: right;
    margin: 0 .25em;
  }
}