.bb-plate-right-wrap, .bb-plate-left-wrap {
    margin-top: 20px;
}

.bb-plate-add-input {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    font-size: 20px;

    width: 30%;
    height: 42px;
    border-radius: 5px;
    border-color: #c9c9c9;
    border-style: solid;
    border-width: 1px;
}

.bb-plate-btn-add {
    width: 65%;
    font-size: 22px;
}

.bb-plate-add-selector {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    font-size: 26px;

    width: 100%;
    margin-bottom: 4px !important;
    height: 44px;
    text-align: center;
}

.bb-plate-btn-add, .bb-plate-btn-clear, .bb-plate-btn-fullscreen {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;

    background-color: #ffffff;
    display: block;
    border-radius: 5px;
    border-color: #c9c9c9;
    border-style: solid;
    border-width: 1px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    float: right;
    height: 44px;
    line-height: 44px;
    text-align: center;
}

.bb-plate-btn-clear, .bb-plate-btn-fullscreen {
    width: 100%;
    font-size: 22px;
}