.bb-layer-menu {
    display: block;

    position: absolute;

    top: 0;

    /* this allows MenuLayer to know board's bounding box */
    width: 100%;
    height: 100%;

    /* layer is stretched out along the board but it shouldn't catch user events prior to underlying layers */
    pointer-events: none;
}


.bb-layer-menu > * {
    /* we need to make this exception because we also want to handle user events on its contents */
    pointer-events: all;
}

.bb-menu {
    background: white;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;

    overflow: hidden;
}

.bb-menu-item {
    padding: 4px;

    cursor: pointer;

    white-space: pre;

    display: flex;
}

.bb-menu-item-text {
    font-family: 'IBM Plex Sans', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 2px;
}

.bb-menu-item:hover {
    background: #e0ffef;
}

.bb-menu-item_disabled {
    background: #beffe3;
    font-weight: bold;

    pointer-events: none;
}

.bb-menu-item_accepted {
    fill: #0f0fff;
	-webkit-animation: flash linear 80ms infinite;
	animation: flash linear 80ms infinite;
}

.bb-menu-item-shortcut {
    font-weight: bold;
    font-style: italic;
    padding: 2px;
    background-color: #d1d1d1;
    border-radius: 4px;
    margin: 0 2px;
}

.bb-menu-item_disabled .bb-menu-item-shortcut {
    background-color: #dcfff0;
}

.bb-menu-item-divider {
    margin: 0 4px;
    flex-grow: 1;
}

.bb-menu-item-input {
    width: 60px;
}

@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}