.bb-layer-selector {
    display: block;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 200px;
    height: 100%;

    transition: left cubic-bezier(0, 0, 0.2, 1) .2s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.bb-sel-root {
    width: 100%;
    height: 100%;

    overflow-y: hidden;
    overflow-x: hidden;

    box-sizing: border-box;

    background-color: #f9f9f9;
    border: #dedede 2px solid;
    border-radius: 12px;
    margin: 2px;
}

.bb-sel-area {
    width: 100%;
    height: 90%;

    overflow-y: scroll;
    overflow-x: hidden;
}

.bb-sel-area::-webkit-scrollbar {
    width: 6px;
	background-color: #F5F5F5;
}

.bb-sel-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.bb-sel-area::-webkit-scrollbar-thumb {
    border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.bb-sel-controls {
    width: 100%;
}

.bb-sel-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bb-sel-cell {
    position: relative;
    overflow: hidden;

    width: 100%;

    box-sizing: border-box;

    background-color: #ecebea;
    margin: 4px;
    border-radius: 8px;
}

.bb-sel-slider {
    position: relative;
    height: 120px;
}

.bb-sel-slide {
    position: absolute;
    top: 50%;

    width: 60%;
    height: 100%;

    opacity: 0;
    pointer-events: none;

    transition: opacity 500ms cubic-bezier(0.16, 1, 0.3, 1),
                transform 500ms cubic-bezier(0.16, 1, 0.3, 1);

    transform: translate(-50%, -50%) scale(0.7);

    /* http://help.dimsemenov.com/discussions/problems/858-weird-bug-in-chrome */
    -webkit-backface-visibility: hidden;
}

.bb-sel-slide.active {
    opacity: 1;
    pointer-events: all;

    transform: translate(-50%, -50%) scale(1.0);
}

.bb-sel-slide.noanim {
    transition: none;
}

.bb-sel-slidectrl {
    position: absolute;
    top: 50%;

    width: 10%;

    cursor: pointer;

    transform: translate(50%, -50%);

    /* http://help.dimsemenov.com/discussions/problems/858-weird-bug-in-chrome */
    -webkit-backface-visibility: hidden;
}

.bb-sel-slidectrl::after {
    content: '';

    display: block;

    width: 20px;
    height: 20px;

    border-radius: 4px;
    border-bottom: #3e999f 5px solid;
    border-left: #3e999f 5px solid;
    transform: rotate(45deg);
}

.bb-sel-slidectrl-right {
    right: 0;
    transform: translate(-100%, -50%)
}

.bb-sel-slidectrl-right::after {
    transform: rotate(225deg);
}

.bb-sel-pedestal-wrap {
    text-align: center;

    width: 100%;
    margin: 0 auto;

    /* http://help.dimsemenov.com/discussions/problems/858-weird-bug-in-chrome */
    -webkit-backface-visibility: hidden;
}

ul.bb-sel-pedestal {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
}

ul.bb-sel-pedestal li {
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #ccc;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

ul.bb-sel-pedestal li.active {
    background: #3e999f;
}

ul.bb-sel-pedestal li.active.custom {
    background: #662d24;
}


.bb-sel-title {
    text-align: center;
    font-size: 20px;
    padding: 5px 5px;
    font-weight: bolder;
    font-family: 'IBM Plex Mono', monospace;
    word-break: break-word;
}

.bb-sel-subtitle {
    font-size: 15px;
    margin-bottom: 5px;

    font-family: 'IBM Plex Mono', monospace;
    word-break: break-word;
}

.bb-sel-svg_wrap {
    width: 100%;
    height: 100%;

    cursor: pointer;

    background-image: radial-gradient(#403f3f2e 0%, transparent 70%);
    background-size: 100% 90%;
    background-position: center;
}

svg.bb-sel-svg {
    width: 100%;
    height: 100%;

    transition: transform 700ms cubic-bezier(0.16, 1, 0.3, 1);
}

.bb-sel-slide.active svg.bb-sel-svg {
    transform: perspective(500px) rotate3d(5, -195, 70, 35deg);
}

.bb-sel-svg_wrap:hover svg.bb-sel-svg {
    transform: perspective(500px);
}

.bb-sel-btn-fullscreen, .bb-sel-btn-clear, .bb-sel-btn-pin {
    display: block;
    float: right;

    color: black;
    background-color: #ffffff;
    font-family: 'IBM Plex Mono', monospace;

    border-radius: 5px;
    border-color: #c9c9c9;
    border-style: solid;
    border-width: 1px;

    text-align: center;
    text-decoration: none;
    cursor: pointer;

    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
}

.bb-sel-inp-search, .bb-sel-inp-custom {
    font-family: "IBM Plex Mono, Lucida Console", Monaco, monospace;
    font-weight: bold;
    font-size: 15px;
    border-radius: 5px;
    border-color: #c9c9c9;
    border-style: solid;
    border-width: 1px;
}

.bb-sel-inp-search {
    width: 100%;
    height: 26px;
}

.bb-sel-inp-custom {
    width: 50%;
    height: 15px;
    margin-right: 25%;
    margin-left: 25%;
    text-align: center;
}
